.pinterest_logo{
    font-family: 'Pacifico', cursive;
}
.pinterest_footer_button{
    text-align:center; margin-top= 2rem;
    font-size: .9rem;
}
.pinterest_header{
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px){
    html{
        font-size: 13px;
    }
}

